- var des = "CI is very passionate about the internet market. We build online startups that help the customers in their day to day life and co-operate with new online businesses to develop and support them grow.so We are specialized in Web Design, Website Development, SEO, Digital Marketing, Social Media and Graphic Design services";

meta(charset="utf-8")
meta(http-equiv="X-UA-Compatible" content="IE=edge")
meta(name="viewport" content="width=device-width, initial-scale=1")
meta(name="keywords" content="media,marketing,developing,branding,creative")
meta(name="description" content=des)
meta(name="author" content="crafted-Internet Team")
meta(name="og:site_name" content="Crafted-internet")
meta(property="og:title" content="Welcome To Crafted Office")
meta(property="og:type" content="website")
meta(property="og:description" content=des)
meta(property="og:url" content="http://crafted-internet.com")
meta(property="og:image" content="http://m.yousry.crafted-internet.com/crafteddesktop/favicon.ico")
title crafted Internet

// HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries
// WARNING: Respond.js doesn't work if you view the page via file://
<!--[if lt IE 9]><!-->
script(src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js")
script(src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js")
<!--[endif]-->