/**
* @ button-reset
*/
@mixin reset_button($color , $border_width , $border_style:solid , $border_color:$white){
    background: $color ;
    outline: none ;
    @if $border_style == 0 {
        border : none ;
    }@else {
        border-color: $border_color ;
        border-width: $border_width ;
        border-style : $border_style ;
        @include border-radius(0.3rem);
    };
}
