$custom: #2dc4b9;
$gold: #F39C12;


// Color variables
$light-black: #323232;
$white: #ffffff;
$black: #000000;

// Bootstarp Colors
$danger: #f05050;
$success: #81c868;
$warning: #ffbd4a;
$primary: #5d9cec;
$info: #34d3eb;
$muted: #98a6ad;



// Author Colors
$purple: #7266ba;
$pink: #fb6d9d;
$inverse: #4c5667;



// $whit color patterns
$light: #eeeeee;
$light5: #ebeff2;
$light3: #f3f3f3;
$light9: #f9f9f9;
$light-alt: #fafafa;
$lightdark: #f4f8fb;

// dark color patterns 
$lightdark3: #333333;
$lightdark4: #444444;
$lightdark5: #555555;
$lightdark7: #797979;
$lightdark-alt: #cccccc;


$lightgray: #7a8c9a;
$whitegray: #eeeeee;
$midgray: #cccccc;
$dark: #36404a;
