
// fonts names
$main-font : "Varela Round", sans-serif;
$second-font : 'Roboto', sans-serif;



// fonts  weights 
$lighter : 300 ;
$normal : 400 ;
$medium : 500 ;
$semi-bold : 600 ;
$bold : 700 ;
$bolder : 800 ;
$ultra-bold : 900 ;




