@import './x-commons/_commons.scss';

// @include font_import();


html {
    font-size: 62.5% ;
}

body {
    height : auto ;
    overflow-x: hidden ;
    line-height: 1.47 ;
    font-family: $main-font ;
    font-size: 14px;
    font-size: 1.4rem;
    background: $white ;
}
