<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title workflow 
    body(data-active-component="root-component")
        header(data-scope="header-component" id="header-component")
        #root(data-scope="root-component" data-component="root-component")
        footer(data-scope="footer-component" id="footer-component")